@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.pink-bg {
  @apply bg-pink-200;
}

.dark-pink-bg {
  @apply bg-pink-600;
}

.pink-text {
  @apply text-pink-600;
}

.horizontal-padding {
  @apply px-4 lg:px-10 xl:px-24;
}

.vertical-padding {
  @apply py-12 lg:py-20;
}

.text-size {
  @apply text-[15px];
}

.navbar {
  @apply hidden lg:flex items-center justify-center gap-8;
}

.gray-text {
  @apply text-gray-400;
}

.bg-img {
  background-image: url(../public/a0c909613b.jpeg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.h1-shadow {
  /* font-size: 4rem;
  font-family: serif;
  text-align: center;
  color: #ecffdc; */

  text-shadow: 2px 2px 0 rgb(255, 1, 196), 1px 1px 0 rgb(252, 143, 234),
    1px 1px 0 rgb(0, 0, 0);
}

.shadow-bg {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.call-us-image {
  @apply hidden lg:block;
}

.contact-header {
  background: url("/bg.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 90vh;
}

.hero {
  background: url("/bg.png");
  background-position: center;
  background-size: cover;
  /* width: 100%; */
  /* height: 100%; */
}

.swiper {
  /* width: 100%;
  height: 40vh;
  
  margin: 0 auto;
  display: flex !important;
  overflow-y: visible !important; */
  /* overflow-x: visible !important; */
}

.swiper-wrapper {
  /* width: 100%;
  display: flex !important; */
}

.swiper-slide {
  /* text-align: center;
  font-size: 18px;
  width: 120%;
  height: 20vh;

  overflow-x: visible !important;
  display: block !important; */
  
  
}


.btn {
  @apply px-8 md:px-10 py-3 lg:py-4 rounded-xl text-white text-xl;
  background: linear-gradient(rgb(253, 100, 62), rgb(253, 53, 86));
}

.card-bg:hover {
  background: linear-gradient(rgb(253, 100, 62), rgb(253, 53, 86));
  transition: all 0.3;
}

.section-heading {
  @apply text-[24px] font-[600] ;
}

.bg-dark {
  @apply bg-[#1c1c1c] text-white;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #b4407e;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}

@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

.success {
  background-image: url(../bg.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.new-gradient-btn {
  background: linear-gradient(90deg,rgba(225, 9, 131, 1) 0%, rgba(220, 107, 51, 0.99) 88%); 
}
.helping-bg {
  background-image: url(../public/helping-bg.png);
  background-size: cover;
  background-position: center;
  
}
.bg-img-login {
  background-image: url(../src/assets/loginBg.png);
  background-size: cover;
  background-position: center;
  
}
.Quiz-bg {
  background-image: url(../public/Quiz-bg.png);
  background-size: cover;
  background-position: center;
  
}
.shop-bg {
  background-image: url(../public/shop-bg.png);
  background-size: cover;
  background-position: center;
  
}
.Cancer-Glossary-bg {
  background-image: url(../public/Cancer-Glossary.png);
  background-size: cover;
  background-position: center;
  
}